<ele-breadcrumb [items]="['User'|trans, 'List'|trans]" icon="users"></ele-breadcrumb>

<div id="content">
    <section id="widget-grid">
        <a [routerLink]='["/user/form"]' class="btn btn-default btn-success pull-right" *ngIf="app.curUser.group == app.constant.GROUP_ADMIN">{{'New user'|trans}}</a>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="sorting" (click)="ld.sort('username',$event)"><a>{{'Username'|trans}}</a></th>
                            <th class="sorting" (click)="ld.sort('email',$event)"><a>{{'Email'|trans}}</a></th>
                            <th class="sorting" (click)="ld.sort('group',$event)"><a>{{'Group'|trans}}</a></th>
                            <th class="sorting" (click)="ld.sort('active',$event)"><a>{{'Active'|trans}}</a></th>
                            <th class="text-center col-md-2">{{'Actions'|trans}}</th>
                        </tr>
                        <tr>
                            <th class="hasinput"><input (input)="ld.change('username',$event)" class="form-control" placeholder="{{'Filter'|trans}}" /></th>
                            <th class="hasinput"><input (input)="ld.change('email',$event)" class="form-control" placeholder="{{'Filter'|trans}}" /></th>
                            <th class="hasinput">
                                <select (change)="ld.change('group',$event)" class="form-control" >
                                    <option *ngFor="let item of app.constant.User.group|list:('Select group'|trans)" [value]="item.key||''" [selected]="item.key==''" >{{item.value|trans}}</option>
                                </select>
                            </th>
                            <th class="hasinput col-md-2">
                                <select (change)="ld.change('active',$event)" class="form-control" >
                                    <option *ngFor="let item of app.constant.Active|list:('Select'|trans)" [value]="item.key||''" [selected]="item.key==''" >{{item.value|trans}}</option>
                                </select>
                            </th>
                            <th class="text-center col-md-2">
                                <a (click)="ld.reset($event)"  title="{{'Reset'|trans}}" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody *ngIf="ld.result.total == 0">
                        <tr>
                            <td colspan="5" class="text-center">{{'No data result'|trans}}</td>
                        </tr>
                        </tbody>
                        <tbody *ngIf="ld.result">
                        <tr *ngFor="let item of ld.result.data">
                            <td>{{item.username}}</td>
                            <td>{{item.email}}</td>
                            <td>{{app.constant.User.group[item.group]|trans}}</td>
                            <td class="text-center"><ele-active active="{{item.active}}" model="User" id="{{item.id}}"></ele-active></td>
                            <td class="text-center" *ngIf="app.curUser.group != app.constant.GROUP_ADMIN">

                            </td>
                            <td class="text-center" *ngIf="app.curUser.group == app.constant.GROUP_ADMIN">
                                <!-- <a [routerLink]='["/user",item.id]' title="{{'View'|trans}}" class="btn btn-sm btn-default"><i class="fa fa-eye"></i> </a> -->
                                <a [routerLink]='["/user/form",item.id]' title="{{'Edit'|trans}}" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> </a>
                                <a *ngIf="item.id != app.curUser.id" (click)="ld.delete('users/delete',item)" title="{{'Delete'|trans}}" class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i> </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <ele-paginator *ngIf="ld" currentPage="{{ld.result.current_page}}" totalPages="{{ld.result.last_page}}"></ele-paginator>
            </div>
        </div>
    </section>
</div>

