<ele-breadcrumb [items]="['Categories'|trans, 'List'|trans]" icon="users"></ele-breadcrumb>

<div id="content">
    <section id="widget-grid">
        <a [routerLink]='["/categories/form"]' class="btn btn-default btn-success pull-right">New Category</a>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="sorting" (click)="ld.sort('name',$event)"><a>Name</a></th>
                            <th class="sorting" (click)="ld.sort('description',$event)"><a>Description</a></th>
                            <th class="text-center col-md-2">Action</th>
                        </tr>
                        <tr>
                            <th class="hasinput"><input (input)="ld.change('name',$event)" class="form-control" placeholder="Filter" /></th>
                            <th class="hasinput"><input (input)="ld.change('description',$event)" class="form-control" placeholder="Filter" /></th>
                            <th class="text-center col-md-2">
                                <a title="" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody *ngIf="ld.result.total == 0">
                        <tr>
                            <td colspan="5" class="text-center">No data result</td>
                        </tr>
                        </tbody>
                        <tbody>
                        <tr *ngFor="let item of ld.result.data">
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td class="text-center">
                                <a [routerLink]='["/categories/form",item.id]' title="Edit" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> </a>
                                <a (click)="ld.delete('categories/delete',item)" title="Delete" class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i> </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <ele-paginator *ngIf="ld" currentPage="{{ld.result.current_page}}" totalPages="{{ld.result.last_page}}"></ele-paginator> -->
            </div>
        </div>
    </section>
</div>

