<ele-breadcrumb [items]="['Categories'|trans, (fd.isNew?'Add':'Edit')|trans]" icon="users"></ele-breadcrumb>

<div id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="jarviswidget">
                <header>
                    <div class="jarviswidget-ctrls">
                        <a class="button-icon form-fullscreen-btn">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-pencil-square-o"></i> </span>
                    <h2></h2>
                </header>
                <div class="widget-body">
                    <form [formGroup]="fd.form" class="form-horizontal" (ngSubmit)="save()" >
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Name <span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" formControlName="name"  placeholder="Name" class="form-control" autocomplete="false">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Description<span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <textarea formControlName="description" class="form-control"  rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group action_box">
                                <div class="checkbox col-md-10 col-md-offset-2">
                                    <a class="btn btn-default"  type="button">Cancel</a>
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
