<ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
    <li class="">
        <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
            <img src="assets/img/avatars/male.png" alt="" class="online" />
        </a>
        <ul class="dropdown-menu pull-right">
            <li>
                <p>{{app.curUser.name}}</p>
            </li>
            <li class="divider"></li>
            <li>
                <a [routerLink]="['/user/profile']" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i> {{'Profile'|trans}}</a>
            </li>
            <li class="divider"></li>
            <li>
                <a [routerLink]="['/user/password']" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-key"></i> {{'Password'|trans}}</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="javascript:void(0);" class="padding-10 padding-top-0 padding-bottom-0" data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> {{'Full Screen'|trans}}</a>
            </li>
            <li class="divider"></li>
            <li>
                <a (click)="popupLogout()" class="padding-10 padding-top-5 padding-bottom-5"><i class="fa fa-sign-out fa-lg"></i> <strong>{{'Logout'|trans}}</strong></a>
            </li>
        </ul>
    </li>
</ul>
