<div class="card mb-3" id="detailnew" *ngIf="data">
  <img src="assets/img/{{data.img}}" width="100%" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">
      <small class="text-muted mt-2 text-primary">{{data.user.name}}</small>
      <span class="badge badge-primary">  {{data.category.name}}</span>
    </p>
    <h4 class="card-title text-primary">{{data.title}}</h4>
    <h5 class="card-text">{{data.content}}</h5>
    <p class="card-text"><small class="text-muted text-primary">update_at: {{data.created_at}}</small></p>
  </div>
</div>
