<div id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="jarviswidget">
                <header>
                    <div class="jarviswidget-ctrls">
                        <a class="button-icon form-fullscreen-btn">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-pencil-square-o"></i> </span>
                    <h2>News</h2>
                </header>
                <div class="widget-body">
                    <form [formGroup]="fd.form" class="form-horizontal" (ngSubmit)="save()">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Select Category<span
                                        class="text-danger">*</span></label>
                                <select class="col-md-10" formControlName="category_id">
                                    <option class="form-control" *ngFor="let item of cd.result.data" [selected]="item.id==data.id" value="{{item.id}}">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Title<span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" formControlName="title" placeholder="Title" class="form-control" autocomplete="false">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Choose image<span
                                        class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <img [src]="imageSrc||'assets/img/'+data.img||''"
                                        alt="..." class="img-thumbnail">
                                    <input type="file" class="form-control-file" (change)="readURL($event)">
                                    <!-- <ele-upload></ele-upload> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Content<span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <textarea class="form-control" formControlName="content" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="form-group action_box">
                                <div class="checkbox col-md-10 col-md-offset-2">
                                    <a class="btn btn-default" type="button">Cancel</a>
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
