<header id="header">
  <div id="logo-group">
        <span id="logo">
            <img src="assets/img/logo.png" alt="">
        </span>
  </div>
</header>

<div id="main" role="main" class="animated fadeInDown">
  <div id="content" class="container page-login">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="jarviswidget">
          <header role="heading">
            <span class="widget-icon"></span>
            <h2>{{'Login'}}</h2>
          </header>
          <div role="content">
            <div class="jarviswidget-editbox"></div>
            <div class="widget-body">
              <form [formGroup]="form" class="form-horizontal" (ngSubmit)="login()">
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-2 control-label">{{'Username'}}</label>
                    <div class="col-md-10">
                      <input type="text" formControlName="username" placeholder="{{'Username'}}" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-2 control-label">{{'Password'}}</label>
                    <div class="col-md-10">
                      <input type="password" formControlName="password" placeholder="{{'Password'}}" class="form-control">
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                      <button class="btn btn-primary" type="submit">{{'Login'}}</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"></div>
    </div>
  </div>
</div>

