<ele-breadcrumb [items]="['User'|trans, (fd.isNew?'Add':'Edit')|trans]" icon="users"></ele-breadcrumb>

<div id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="jarviswidget">
                <header>
                    <div class="jarviswidget-ctrls">
                        <a class="button-icon form-fullscreen-btn">
                            <i class="fa fa-expand"></i>
                        </a>
                    </div>
                    <span class="widget-icon"> <i class="fa fa-pencil-square-o"></i> </span>
                    <h2>{{'User'|trans}}</h2>
                </header>
                <div class="widget-body">
                    <form [formGroup]="fd.form" class="form-horizontal" (ngSubmit)="save()">
                        {{fd.form.value | json}}
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{'Username'|trans}} <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" formControlName="username" placeholder="{{'Username'|trans}}"
                                        class="form-control" autocomplete="false">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{'Password'|trans}} <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <input type="password" formControlName="password" placeholder="{{'Password'|trans}}"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{'Email'|trans}} <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" formControlName="email" placeholder="{{'Email'|trans}}"
                                        class="form-control" />
                                </div>
                            </div>
                            <!-- <div formArrayName="tels" *ngIf="tels.controls.length">
                                <div class="form-group row" *ngFor="let c of tels.controls; index as i">
                                    <label for="example-tel-input" class="col-md-2 col-form-label">Tel:</label>
                                    <div class="col-md-10">
                                        <input class="form-control" type="tel"
                                            id="example-tel-input" [formControlName]="i">
                                        <div class="text-right">
                                            <button class="btn btn-info" (click)="addTel()">+</button>
                                            <button class="btn btn-danger" (click)="removeTel(i)"
                                                *ngIf="tels.controls.length > 1">-</button>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{'Name'|trans}} <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-10 text-left">
                                    <input type="text" formControlName="name" placeholder="{{'Name'|trans}}"
                                        class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{'Group'|trans}} <span
                                        class="text-danger">*</span></label>
                                <div class="col-md-10 text-left">
                                    <select formControlName="group" class="input-sm form-control">
                                        <option *ngFor="let item of app.constant.User.group|list:('Group'|trans)"
                                            [value]="item.key" [selected]="item.key==''">{{item.value|trans}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{'Active'|trans}}</label>
                                <div class="checkbox col-md-1">
                                    <label>
                                        <input type="checkbox" formControlName="active" class="checkbox style-0" />
                                        <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group action_box">
                                <div class="checkbox col-md-10 col-md-offset-2">
                                    <a class="btn btn-default" [routerLink]='["/user"]'
                                        type="button">{{'Cancel'|trans}}</a>
                                    <button class="btn btn-success" type="submit">{{'Submit'|trans}}</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
