#mobile-profile-img {
    display: block !important;
}
table .btn {
    padding: 2px 6px 2px;
    margin: 0 2px;
}
.onoffswitch {
    margin-top: 2px;
    margin-bottom: 0;
}
.disabledAction,
table.table-bordered tr th.sorting a {
    pointer-events: none;
}
table.table-bordered tr th.sorting {
    cursor: pointer;
    background: url('../img/icons/sorting.png') no-repeat center right #71843f !important;
    position: relative;
}
table.table-bordered tr th.sorting.sorting_desc:before,
table.table-bordered tr th.sorting.sorting_asc:before {
    position: absolute;
    right: 5px;
    top: 7px;
    border: solid 5px transparent;
    border-bottom-color: #fff;
    content: '';
}
table.table-bordered tr th.sorting.sorting_desc:before {
    border-bottom-color: transparent;
    border-top-color: #fff;
    top: 15px;
}
table.table-bordered tr th.sorting.sorting_desc,
table.table-bordered tr th.sorting.sorting_asc {
    background-image: none !important;
}
table.table-bordered tr:first-child th a {
    color: #fff;
}
table.table-bordered tr:first-child th {
    background: #71843f;
    color: #fff;
}
table .form-control {
    height: 29px;
    line-height: 29px;
    padding: 3px 12px;
}
a {
    cursor: pointer;
}
.no-padding>.table-bordered,
.no-padding>.table-responsive>.table-bordered {
    border-bottom: solid 1px #ddd !important;
    border-top: solid 1px #ddd !important;
    margin-bottom: 10px !important;
}
#content form,
#content table {
    margin-top: 10px;
}
#content {
    background: #fff;
}
.action_box a,
.action_box button {
    margin: 0 3px;
}
#mobile-profile-img i.fa{
    margin-right: 5px;
}
.btn.btn-ribbon {
    pointer-events: none;
    cursor: default;
}

.dropdown-menu li p
{
    padding: 10px 10px 0px 10px;
}
div.alertCustom {
    margin-bottom: 0;
}
#jarviswidget-fullscreen-mode {
    background: #f1f1f1;
    overflow-y: scroll;
}
.form-fullscreen-btn .fa {
    color: #fff;
}
.onoffswitch-inner:before {
    background-color: #71843f
}
.btn-success,
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #71843f;
    border-color: #71843f;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch:before,
.pagination>li>a, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #71843f;
}
.jarviswidget>header {
    border-color: #687a3a!important;
    background: #71843f;
    color: #fff;
}