<div class="page-footer">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <span class="txt-color-white">Grooo<span class="hidden-xs"> - Web Framework</span> © 2018</span>
    </div>
  </div>
  <!-- end row -->
</div>
