<nav>
  <!--
  NOTE: Notice the gaps after each icon usage <i></i>..
  Please note that these links work a bit different than
  traditional href="" links. See documentation for details.
  -->
  <ul>
    <li *ngFor="let item of menus" class="menuList {{item.url==activeMenu?'active':''}}">
      <a [attr.action]="item.url" (click)="gotoUrl(item.url)">
          <i class="fa fa-lg fa-fw {{item.icon}}"></i>
          <span class="menu-item-parent">{{item.text}}</span>
      </a>
      <ul *ngIf="item.children">
        <li *ngFor="let child of item.children" class="menuChild {{child.url==activeMenu?'active':''}}">
            <a [attr.action]="child.url" (click)="gotoUrl(child.url)">{{child.text}}</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>