<ele-breadcrumb [items]="['News'|trans, 'List'|trans]" icon="users"></ele-breadcrumb>

<div id="content">
    <section id="widget-grid">
        <a [routerLink]='["/news/form"]' class="btn btn-default btn-success pull-right">Add News</a>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th (click)="ld.sort('title',$event)" class="sorting"><a>Tittle</a></th>
                                <th (click)="ld.sort('user_id',$event)" class="sorting"><a>User</a></th>
                                <th (click)="ld.sort('category_id',$event)" class="sorting"><a>Category</a></th>
                                <th class="text-center col-md-2">Action</th>
                            </tr>
                            <tr>
                                <th class="hasinput"><input (input)="ld.change('title',$event)" class="form-control" placeholder="Filter" /></th>
                                <th class="hasinput"><input (input)="ld.change('user_id',$event)" class="form-control" placeholder="Filter" /></th>
                                <th class="hasinput col-md-2">
                                    <select (change)="ld.change('category_id',$event)" class="form-control">
                                        <option *ngFor="let item of cd.result.data" value="{{item.id}}" [selected]="">{{item.name}}</option>
                                    </select>
                                </th>
                                <th class="text-center col-md-2">
                                    <a title="Reset" class="btn btn-sm btn-default"><i class="fa fa-refresh"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="ld.result.total == 0">
                                <td colspan="5" class="text-center">No data result</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr *ngFor="let item of ld.result.data">
                                <td><a [routerLink]='["/news/detail",item.id]' >{{item.title}}</a></td>
                                <td>{{item.user.name}}</td>
                                <td>{{item.category.name}}</td>
                                <td class="text-center">
                                    <a [routerLink]='["/news/form",item.id]' title="" class="btn btn-sm btn-default"><i class="fa fa-edit"></i> </a>
                                    <a (click)="ld.delete('news/delete',item)" title="Detete" class="btn btn-sm btn-default"><i class="fa fa-trash-o"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ele-paginator *ngIf="ld" currentPage="{{ld.result.current_page}}" totalPages="{{ld.result.last_page}}"></ele-paginator>
            </div>
        </div>
    </section>
</div>
