<ul class="header-dropdown-list hidden-xs ng-cloak">
    <li>
        <a href="#" (click)="showSelect()" class="dropdown-toggle" data-toggle="dropdown">
            <img src="assets/img/blank.gif" class="flag flag-{{currentLanguage.key}}" > <span> {{currentLanguage.title}}</span> <i class="fa fa-angle-down"></i> </a>

        <ul *ngIf="showselectlanguage" class="dropdown-menu pull-right">
            <li [class.active]="language==currentLanguage"
                *ngFor="let language of languages">
                <a (click)="setLanguage(language)" class="dropdown-item" >
                    <img src="assets/img/blank.gif" class="flag flag-{{language.key}}" alt="{{language.alt}}"> {{language.title}}
                </a>
            </li>
        </ul>
    </li>
</ul>

