<ele-breadcrumb [items]="['User'|trans, 'Profile'|trans]" icon="users"></ele-breadcrumb>

<div id="content">
    <div class="row">
        <div class="col-md-12">
            <div class="jarviswidget jarviswidget-color-greenLight">
                <header>
                    <span class="widget-icon"> <i class="fa fa-pencil-square-o"></i> </span>
                    <h2>{{'Profile'|trans}}</h2>
                </header>
                <div class="widget-body">
                    <form [formGroup]="fd.form" class="form-horizontal" (ngSubmit)="save()">
                        <fieldset>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{'Email'|trans}} <span class="text-danger">*</span></label>
                                <div class="col-md-10">
                                    <input type="text" formControlName="email" placeholder="{{'Email'|trans}}" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">{{'Name'|trans}} <span class="text-danger">*</span></label>
                                <div class="col-md-10 text-left">
                                    <input type="text" formControlName="name" placeholder="{{'Name'|trans}}" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group action_box">
                                <div class="checkbox col-md-10 col-md-offset-2">
                                    <button class="btn btn-success" type="submit">{{'Submit'|trans}}</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
